<!doctype html>
<title>Web Lib</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
	<h1>Web Lib</h1>
	<li><a href="/">Main</a>
	<li><a href="/show_authors">Show authors</a>
	<li><a href="/show_books">Show books</a>
	<div class=metanav>
	{% if not session.logged_in %}
		<a href="{{ url_for('login') }}">log in</a>
	{% else %}
		<a href="{{ url_for('logout') }}">log out</a>
	{% endif %}
	</div>
	{% for message in get_flashed_messages() %}
		<div class=flash>{{ message }}</div>
	{% endfor %}
	{% block body %}{% endblock %}
</div>	