{% extends "layout.html" %}
{% block body %}
	<h2>Login</h2>
	{% if error %}<p class=error><strong>Error</strong> {{ error }}{% endif %}
	<form action="" method="post" name="login">
		{{form.hidden_tag()}}
		<dl>
			<dt>Username:
			<dd>{{form.username(size=50)}}
			<dt>Password:
			<dd>{{form.password}}
			<dd><input type=submit value=Login>
			{% for error in form.errors.username %}
				<span style="color: red;">[{{error}}]</span>
			{% endfor %}<br>
		</dl>
	</form>
{% endblock %}	