{% extends "layout.html" %}
{% block body %}
	<ul class=lib>
	{% if session.logged_in %}
		<h2>Add in lib:</h2>		
		<form action="{{ url_for('add_in_lib') }}" method=post class=add-in-lib>		
			<fieldset>		
				<SELECT NAME=select_author>
				{% for author in authors %}
					<OPTION VALUE={{ author.author_name|safe }}>{{ author.author_name|safe }}</OPTION>
				{% endfor %}
				</SELECT>
				<SELECT NAME=select_book>
				{% for book in books %}
					<OPTION VALUE={{ book.book_title|safe }}>{{ book.book_title|safe }}</OPTION>
				{% endfor %}
				</SELECT>
				<dd><input type=submit value=Add>
			</fieldset>
		</form>
	{% endif %}
	<h2>Library:</h2>
	<form action="{{ url_for('find_in_lib') }}" method=get class=find-in-lib>
		<fieldset>
			<h3>Find book:</h3>
			<dl>
				<dt>Title:
				<dd><input type=text size=30 name=findBookTitle>
				<dt>Author:
				<dd><input type=text size=30 name=findAuthorName>
				<dd><input type=submit value=Find>
			</dl>
		</fieldset>	
	</form>
	{% for author_book in authors_books %}
		<li><h3>{{ author_book.author_name|safe }}</h3><h3>{{ author_book.book_title|safe }}</h3>
		{% if session.logged_in %}
			<form action="{{ url_for('delete_from_lib', author_name=author_book.author_name, book_title=author_book.book_title) }}" method=get class=delete-from-lib>
				<dd><input type=submit value=Delete>
			</form>
		{% endif %}	
	{% else %}
		<li><em>Nothing in lib yet</em>
	{% endfor %}
	</ul>
{% endblock %}	