{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		<form action="{{ url_for('add_book') }}" method=post class=add-book>
			<fieldset>
			<h2>Add book:</h2>
			<dl>
				<dt>Title:
				<dd><input type=text size=30 name=book_title>
				<dd><input type=submit value=Share>
			</dl>
			</fieldset>
		</form>
	{% endif %}
	<ul class=books>
	<h2>Books:</h2>
	{% for book in books %}
		<li><h3>{{ book.book_title }}</h3>
		{% if session.logged_in %}
			<form action="{{ url_for('delete_book', book_title=book.book_title) }}" method=get class=delete-book>
				<dd><input type=submit value=Delete>
			</form>
			<form action="{{ url_for('update_book', book_title=book.book_title) }}" method=post class=update-book>
				<dt>New title:
				<dd><input type=text size=30 name=new_book_title>
				<dd><input type=submit value=Update>
			</form>
		{% endif %}	
	{% else %}
		<li><em>No books yet</em>
	{% endfor %}
	</ul>
{% endblock %}	