{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		<form action="{{ url_for('add_author') }}" method=post class=add-author>
			<fieldset>
			<h2>Add author:</h2>
			<dl>
				<dt>Name:
				<dd><input type=text size=30 name=author_name>
				<dd><input type=submit value=Share>
			</dl>
			</fieldset>
		</form>
	{% endif %}
	<ul class=authors>
	<h2>Authors:</h2>
	{% for author in authors %}
		<li><h3>{{ author.author_name|safe }}</h3>
		{% if session.logged_in %}
			<form action="{{ url_for('delete_author', author_name=author.author_name) }}" method=get class=delete-author>
				<dd><input type=submit value=Delete>
			</form>
			<form action="{{ url_for('update_author', author_name=author.author_name) }}" method=post class=update-author>
				<dt>New name:
				<dd><input type=text size=30 name=new_author_name>
				<dd><input type=submit value=Update>
			</form>
		{% endif %}
		<hr>	
	{% else %}
		<li><em>No authors yet</em>
	{% endfor %}
	</ul>
{% endblock %}	