body 				{ font-family: monospace; font-size: 1.2em; background: #eee; }
a, h1, h2			{ color: #800000; }
h1, h2, h3			{ font-family: 'Courier'; margin: 0; }
h1					{ border-bottom: 2px solid #eee; }
h2					{ font-size: 1.2em; }
h3					{ font-size: 0.8em; }

.page				{ margin: 2em auto; width: 50em; border: 5px solid #C1B0CC;
					  padding: 1.2em; background: white; }
.entries			{ list-style: none; margin: 0; padding: 0; }
.entries li			{ margin: 0.8em 1.2em; }
.entries li h2			{ margin-left: -1em; }
.add-entry			{ font-size: 0.9em; border-bottom: 1px solid #C1B0CC; }
.add entry dl			{ font-weight: bold; }
.metanav			{ text-align: right; font-size: 0.8em; padding: 0.3em;
					  margin-bottom: 1em; backgroung: #fafafa;	}
.flash				{ background: #FFF8DC; padding: 0.5em;
					  border: 1px solid #AACBE2; }
.error				{ background: #F0D6D6; padding: 0.5em; }					  